.experience_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

.experience {
    background: var(--color-bg-variant);
    border-radius: 1rem 1rem 1rem 1rem;
    border: 1px solid var(--color-primary);
    height: 25rem;
    transition: var(--transition);
}

.experience:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience_head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.experience_head h3{
    color: var(--color-bg);
    font-size: 1.2rem;
    text-align: center;
}

.experience_head h4{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.experience_list{
    padding: 2rem;
}

.experience_list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.experience_list-icons{
    color: var(--color-primary);
    margin-top: 2px;
}

.experience_list p{
    font-size: 1rem;
}

/*==================MEDIA QUERIES(MEDIUM DEVICES)==================*/

@media screen and (max-width: 1024px){
    .experience_container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .experience{
        height: auto;
    }
}

/*==================MEDIA QUERIES(SMALL DEVICES)==================*/

@media screen and (max-width: 600px){
    .experience_container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}